@import url("../font/scotchdisplaycond/stylesheet.css");
@import url("../font/pretendard/stylesheet.css");
@import url("reset.css");
:root {
  --color-point-: #9d62be;
  --color-text-xs: #000000;
  --color-text-free: #333333;
  --colorDark-1: #121212;
  --colorDark-3: #333333;
  --colorDark-5: #555555;
  --colorblack-40: rgba(0, 0, 0, 0.4);
  --font-family-en-lg: "Scotch-Display-Cond-Rm";
  --font-family-basic: "Pretendard";
  --font-size-h1: 80px;
  --font-size-t1: 130px;
  --font-size-t2: 28px;
  --font-size-t3: 24px;
  --font-size-md: 1.8rem;
  --font-size-sm: 1.4rem;
  --font-size-xs: 12rem;
  --font-weight-300: 300;
  --font-weight-400: 400;
  --font-weight-500: 500;
  --font-weight-600: 600;
  --font-weight-800: 800;
  --margin-20: 2rem;
  --margin-24: 2.4rem;
  --margin-28: 2.8rem;
  --margin-32: 3.2rem;
  --margin-40: 4rem;
  --margin-60: 6rem;
  --margin-100: 10rem;
}

html,
body {
  font-size: 62.5%; /* 10px */
}

body {
  font-family: var(--font-family-basic);
  font-weight: 400;
  line-height: 1.4;
  font-size: var(--font-size-md);
  overflow-x: hidden;
}

.inner {
  max-width: 1366px;
  width: calc(100% - 40px);
  margin: 0 auto;
}

.inner-big {
  max-width: 1600px;
  width: calc(100% - 40px);
  margin: 0 auto;
}

.heading {
  text-align: center;
  margin-bottom: var(--margin-40);
}

.heading h3 {
  font-size: var(--font-size-h1);
  font-family: var(--font-family-en-lg);
}

.tag {
  display: flex;
  gap: 16px;
}
.tag li {
  font-size: 1.6rem;
  color: var(--colorDark-5);
}
.tag li::before {
  content: "#";
}

.btn-more {
  height: 4.4rem;
  padding: 0 2rem;
  display: inline-block;
  margin-top: 6rem;
  border-radius: 4rem;
  background-color: #fff;
  color: var(--color-text-free);
  line-height: 4.4rem;
}
.btn-more::after {
  content: "";
  width: 10px;
  height: 10px;
  background-color: var(--color-point-);
  border-radius: 50%;
  margin-left: 2rem;
  display: inline-block;
}

.btn-view_site {
  width: 20rem;
  height: 5.2rem;
  display: block;
  text-align: center;
  margin: 0 auto;
  margin-top: 6rem;
  border-radius: 4rem;
  background-color: #fff;
  color: var(--color-text-free);
  line-height: 5.2rem;
  font-size: 2rem;
  border: 1px solid var(--color-point-);
}
.btn-view_site span {
  display: inline-block;
  vertical-align: baseline;
  margin-left: 8px;
}

.header {
  width: 100%;
  height: 100px;
  position: relative;
  /*  top: 0;
  left: 0; */
  z-index: 99;
  background-color: rgba(255, 255, 255, 0.8);
  display: none;
}
.header .logo a {
  display: block;
}
.header .logo a img {
  height: 60px;
}
.header .inner {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .nav .gnb {
  display: flex;
}
.header .nav .gnb > li {
  position: relative;
}
.header .nav .gnb > li .depth-01 {
  display: block;
  line-height: 100px;
  padding: 0 4rem;
}
.header .nav .gnb > li .depth-02 {
  white-space: nowrap;
  position: absolute;
  top: 100px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  background-color: #fff;
  border: 1px solid var(--colorblack-40);
  border-radius: 2rem;
  display: none;
}
.header .nav .gnb > li .depth-02 li a {
  padding: 10px 20px;
  display: block;
}
.header .nav .gnb > li:hover .depth-02 {
  display: block;
}

/* .header*/
.main_visual {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  background: url("../img/visual-bg-sujeong-2.jpg") 0 0 no-repeat;
  color: #fff;
}
.main_visual .text_wrap {
  text-align: center;
}
.main_visual .text_wrap h2 {
  font-family: var(--font-family-en-lg);
  font-size: 10rem;
  margin-bottom: 2rem;
}
.main_visual .text_wrap p {
  font-size: 2.8rem;
  margin-bottom: 12rem;
  line-height: 1.6;
}

.content_wrap {
  margin-top: 100vh;
  background-color: #fff;
  position: relative;
  z-index: 9;
  padding-top: 10rem;
}

.section__images {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  perspective: 100vh;
}
.section__images img {
  position: absolute;
  width: 10vw;
  /* same for all other images */
}
@media (max-width: 768px) {
  .section__images img {
    width: 20vw;
  }
}
.section__images img:nth-of-type(1) {
  top: 15vw;
  left: -3vw;
}
.section__images img:nth-of-type(2) {
  top: 5vw;
  left: 20vw;
}

.newItem {
  height: 100vh;
}
.newItem .heading {
  margin-bottom: 0;
}
.newItem .web-btns {
  display: flex;
  justify-content: center;
  gap: 1.6rem;
}
.newItem .web-btns li {
  margin: 0;
  margin-top: 6rem;
}
.newItem .web-btns li:first-child {
  background-color: #ede1f6;
}
.newItem .web-btns li:last-child {
  background-color: #e5e1e9;
}
.newItem .list {
  height: 76vh;
  display: flex;
  align-items: center;
}
.newItem .list_wrap {
  display: flex;
  padding-left: 50%;
  /* .item end */
}
.newItem .list_wrap .item {
  width: 600px;
  margin: 0 25px;
}
.newItem .list_wrap .item .image {
  height: 400px;
  border-radius: 0.8rem;
  overflow: hidden;
  border: 1px solid var(--colorblack-40);
}
.newItem .list_wrap .item .image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.newItem .list_wrap .item .text {
  margin-top: var(--margin-20);
}
.newItem .list_wrap .item .text .title {
  font-size: 2.8rem;
  font-weight: 700;
  margin-bottom: 0.8rem;
}
.newItem .list_wrap .item .text .txt {
  line-height: 1.5;
  word-break: keep-all;
  font-size: 2rem;
}
.newItem .list_wrap .item .text .date {
  margin-top: 2.8rem;
  display: block;
  color: var(--colorDark-5);
  font-size: 1.6rem;
}

/* newItem */
/* portfolio start */
.portfolio {
  padding-top: 10rem;
}
.portfolio .heading {
  text-align: left;
}
.portfolio_wrap {
  background-color: #f6f7f2;
  padding: 8rem 0;
  /* menu */
}
.portfolio_wrap .menu ul {
  display: flex;
  justify-content: space-between;
  gap: 6rem;
}
.portfolio_wrap .menu ul li {
  width: 20%;
  color: var(--colorblack-40);
  cursor: pointer;
}
.portfolio_wrap .menu ul li.active {
  color: var(--colorDark-1);
}
.portfolio_wrap .menu ul li:hover {
  color: var(--colorDark-1);
}
.portfolio_wrap .menu ul li strong {
  font-size: 2rem;
  display: block;
  margin-bottom: 24px;
  padding-bottom: 24px;
  border-bottom: 1px solid #888;
}
.portfolio_wrap .menu ul li p {
  font-size: 1.6rem;
}
.portfolio_wrap .list {
  margin-top: var(--margin-100);
}
.portfolio_wrap .list .item {
  display: none;
}
.portfolio_wrap .list .item.active {
  display: flex;
}
.portfolio_wrap .list .item .image {
  width: 50%;
  height: 480px;
  overflow: hidden;
}
.portfolio_wrap .list .item .image img {
  width: 100%;
}
.portfolio_wrap .list .item .info {
  width: 50%;
  padding: var(--margin-60);
  /* .btns */
}
.portfolio_wrap .list .item .info h4 {
  font-size: 5.2rem;
  color: var(--color-point-);
  font-weight: var(--font-weight-600);
}
.portfolio_wrap .list .item .info p {
  word-break: keep-all;
  margin-bottom: var(--margin-32);
}
.portfolio_wrap .list .item .info .btns-qr {
  display: flex;
  align-items: flex-start;
  gap: 1.6rem;
  margin-top: var(--margin-32);
}
.portfolio_wrap .list .item .info .btns {
  width: 32rem;
  display: flex;
  justify-content: space-between;
  gap: 0.8rem;
  flex-wrap: wrap;
}
.portfolio_wrap .list .item .info .btns li {
  width: 100%;
}
.portfolio_wrap .list .item .info .btns li a {
  height: 4.8rem;
  border: 1px solid var(--colorDark-5);
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--colorDark-5);
  border-radius: 4px;
  font-size: 1.6rem;
  background-color: #fff;
}
.portfolio_wrap .list .item .info .btns li.point {
  width: 100%;
}
.portfolio_wrap .list .item .info .btns li.point-coming_soon {
  opacity: 0.5;
}
.portfolio_wrap .list .item .info .btns li.point a {
  border: 1px solid var(--color-point-);
  color: var(--color-point-);
  background-color: var(--color-point-);
  color: #fff;
}
.portfolio_wrap .list .item .info .btns li.point a::after {
  content: "";
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  background-color: #fff;
  margin-left: 1.6rem;
}
.portfolio_wrap .list .item .info .qr-image {
  height: 10.5rem;
  border: 1px solid var(--colorDark-5);
  border-radius: 4px;
  overflow: hidden;
}
.portfolio_wrap .list .item .info .qr-image img {
  height: 100%;
}

/* graphic start */
.graphic {
  padding: 10rem 0;
  position: relative;
}
.graphic .heading_wrap {
  position: relative;
}
.graphic .heading_wrap .btn-more {
  border: 1px solid var(--color-point-);
  position: absolute;
  right: 0;
  bottom: 0;
}
.graphic .list .item {
  width: 20%;
}
.graphic .list .item a {
  height: 420px;
  display: block;
  overflow: hidden;
  border-radius: 0.8rem;
}
.graphic .list .item a img {
  width: 100%;
  border-radius: 0.8rem;
}
.graphic .swiper {
  position: static;
}
.graphic .swiper-button_wrap {
  max-width: 1600px;
  width: calc(100% - 40px);
  display: flex;
  gap: 0.8rem;
  justify-content: flex-end;
  position: absolute;
  bottom: 0;
  right: 18rem;
}
.graphic .swiper-button_wrap > div {
  width: 4.4rem;
  height: 4.4rem;
  border: 1px solid var(--colorblack-40);
  border-radius: 50%;
  position: static;
  display: flex;
  align-items: center;
  justify-content: center;
}
.graphic .swiper-button_wrap > div img {
  width: 18px;
}
.graphic .swiper-button_wrap > div svg {
  display: none;
}

/* graphic */
/* .note */
.note {
  padding: 10rem 0;
  background-color: #f6f7f2;
}
.note .list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 32px;
}
.note .list .item {
  width: calc(33.3333333333% - 32px);
  background-color: #fff;
  border-radius: 8px;
  position: relative;
}
.note .list .item:hover {
  box-shadow: 0px 0px 24px rgba(0, 0, 0, 0.1);
}
.note .list .item a {
  height: 100%;
  display: block;
  padding: 3.2rem;
}
.note .list .item img.site_logo {
  height: 28px;
}
.note .list .item strong {
  font-size: var(--font-size-t3);
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.6rem;
  padding-bottom: 1.6rem;
  border-bottom: 1px solid #ccc;
  word-break: keep-all;
}
.note .list .item p {
  word-break: keep-all;
  line-height: 1.6;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  margin-bottom: 4rem;
}
.note .list .item span {
  font-size: 14px;
  position: absolute;
  right: 3.2rem;
  bottom: 3.2rem;
}

/* .note */
/* reference  start*/
.reference {
  background: url("../img/reference-bg.jpg") center top/cover no-repeat fixed;
  padding: 10rem 0;
}
.reference .inner-big {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.reference .heading {
  color: #fff;
  text-align: left;
  width: 30%;
  position: sticky;
  top: 10rem;
}
.reference .list {
  width: 60%;
  display: flex;
  justify-content: flex-end;
  -moz-column-gap: 6rem;
       column-gap: 6rem;
  flex-wrap: wrap;
}
.reference .list .item {
  width: 348px;
  height: 452px;
  background-color: rgba(0, 0, 0, 0.4);
  -webkit-backdrop-filter: blur(8px);
          backdrop-filter: blur(8px);
  border: 1px solid rgba(255, 255, 255, 0.4);
  border-radius: 0.8rem;
  color: #fff;
}
.reference .list .item a {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 4rem;
}
.reference .list .item .info {
  margin-top: var(--margin-28);
  padding-top: var(--margin-28);
  border-top: 1px solid rgba(255, 255, 255, 0.4);
}
.reference .list .item .info strong {
  font-size: var(--font-size-t2);
  display: block;
  margin-bottom: 14px;
}
.reference .list .item .info p {
  line-height: 1.6;
}
.reference .list .item:nth-child(even) {
  margin-top: 8rem;
}
.reference .list .item .logo {
  width: 35px;
}
.reference .list .item .logo img {
  width: 100%;
}
.reference .list .item .logo-size-width {
  height: 20px;
}
.reference .list .item .logo-size-width img {
  width: auto;
  height: 100%;
}
.reference .list .item .tag li {
  color: rgba(255, 255, 255, 0.7);
  font-size: 1.4rem;
}

/* reperence */
.footer {
  background-color: #ffffff;
  position: relative;
  z-index: 1;
  color: #3b3b3b;
  text-align: center;
  padding: 8rem 0;
}
.footer strong {
  display: block;
  font-family: var(--font-family-en-lg);
  font-weight: normal;
  font-size: 20rem;
  text-align: center;
}/*# sourceMappingURL=main.css.map */